//- extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}
extends layout

block content
  h1= title
  p Welcome to #[em Members only].

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The club has the following record counts:

    ul
      li #[strong Users:] !{data.user_count}
      li #[strong Messages:] !{data.message_count}
  
  if(messages)
   h1 Messages
   each message in messages
    h1= message.title
    p= message.text
    div.form-group
     form(action="" method="POST")
     input#messageId(type="text", name="messageId", required="true", value=message._id)
     button(type="submit") Delete 
    if(user && user.member)
     p #{message.username}
     p= message.date
     if(user.admin)
      p= message.date